<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
<style type="text/css">
	body 	{background-color: linen;
			}
	h1  	{	color: black;
				text-align: center;
			}
	p   	{	color: grey;
			}
	div.top { 	width: 100%; 
				align:center;
				height: 75px; 
				border:5px solid;
			}
	div.left {	width: 50%; 
				float:left
			}
	div.right {	width: 50%; 
				float:right
			}
	div.footer { width: 100%; 
				align:center;
				height: 75px; 
			}
</style>

</head>
<body>
<h1>Welcome to my Webpage</h1>
<div class="top"> 
</div>
<div class="left">
  <h2>London</h2>
  <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
</div>
<div class="right">
  <h2>Regina</h2>
  <p>Regina is the capital city of the province of Saskatchewan. It is the second most populous city in the the province, with 210 thousand inhabitants.</p>
</div><div class="footer">
</body>
</html>